<!--<div class="row column">
      <hr>
      <ul class="menu">
        <li routerLink="" class="logo-button">ts piano</li>
        <li><a href="#" class="footer-links">Home</a></li>
        <li><a href="#" class="footer-links">About</a></li>
        <li><a href="#" class="footer-links">Contact</a></li>
        <li><a routerLink="/admin" class="footer-links">Admin</a></li>
        <li><a class="footer-links footer-copyright">Copyright ts piano 2016</a></li>
        <li class="float-right">Copyright</li>
      </ul>
</div>-->

<div class="footer-new">
  <div class="footer-item footer-logo">
    ts piano
  </div>
  <div class="footer-item footer-admin">
    <a routerLink="/admin">Admin</a>
  </div>
  <div class="footer-item">
    Copyright ts piano 2016
  </div>
</div>