<div class="row">
	<div class="medium-6 columns">
		<img class="thumbnail" [src]="mediaURL">
		<div class="row small-up-4">
			<div class="column" (click)="chooseMedia('photo')">
				<img class="thumbnail sml-thumb" src="./assets/images/dusk-piano.jpg">
			</div>
			<div class="column" (click)="chooseMedia('photo2')">
				<img class="thumbnail sml-thumb" src="./assets/images/treble-note.png">
			</div>
			<div class="column" (click)="chooseMedia('photo3')">
				<img class="thumbnail sml-thumb" src="./assets/images/piano-beginner.jpg">
			</div>
			<div class="column" (click)="chooseMedia('photo4')">
				<img class="thumbnail sml-thumb" src="./assets/images/kid-piano.jpg">
			</div>
			
			<!--<div class="column">
			<video class="thumbnail" controls>
				<source src="https://www.youtube.com/watch?v=fNU-XAZjhzA" type="video/mp4">
			</video>
			</div>-->

			<!--<div class="column videoWrapper" [ngClass]="{'play' : play}" (click)="playMovie()">
				<iframe *ngIf="play" id="video1" width="100%" src="https://www.youtube.com/embed/cPm6PMfpgJY?rel=0&autoplay=1&controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
				<img class="youtube-thumb thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Treble_a.svg/1280px-Treble_a.svg.png">
			</div>-->

		</div>
	</div>
	<div class="medium-6 large-5 columns">
		<h3>ANNOUNCEMENT:</h3>
		<p>The next recital will be on December 7th at 9:00 am. at the home of ts. There will also be a 10:00am recital for Billy, Bob, Joe and Jill.</p>

		<!--<label>Size
		<select>
			<option value="husker">Small</option>
			<option value="starbuck">Medium</option>
			<option value="hotdog">Large</option>
			<option value="apollo">Yeti</option>
		</select>
		</label>

		<div class="row">
			<div class="small-3 columns">
			<label for="middle-label" class="middle">Quantity</label>
			</div>
			<div class="small-9 columns">
			<input type="text" id="middle-label" placeholder="One fish two fish">
			</div>
		</div>-->

		<!--<a href="#" class="button large expanded big-button">See Past Annoucements</a>-->

		<!--<div class="small secondary expanded button-group">
			<a class="button">Facebook</a>
			<a class="button">Twitter</a>
			<a class="button">Yo</a>
			</div>
		</div>-->
	</div>
</div>

<hr class="top-hr">