<app-header></app-header>

<div class="payment-wrap">
    <!--<h1>Currently there are 4 payment methods available:</h1>-->
    <h1>Payment Method Options:</h1>
    <ul>
      <!--<li><strong>Check - </strong>Physical check given in person</li>-->
      <!--<li><strong>Cash - </strong>Given in person</li>-->
      <li class="option"><img class="app-logo-size" src="./assets/images/square_cash.png" alt=""><strong>Square Cash App</strong></li>
      <a href="https://itunes.apple.com/us/app/square-cash-send-money-for/id711923939?mt=8" target="_blank"><img class="apple-logo" src="./assets/images/appStore.svg" alt=""></a>
      <a href='https://play.google.com/store/apps/details?id=com.squareup.cash&hl=en&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target="_blank">
      <img class="play-size" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
      <p><strong>$Cashtag: </strong>tSummerhays44</p>
      <li class="option"><img class="app-logo-size" src="./assets/images/venmo-app.png" alt=""><strong>Venmo App</strong></li>
      <a href="https://itunes.apple.com/us/app/venmo/id351727428?mt=8" target="_blank"><img class="apple-logo" src="./assets/images/appStore.svg" alt=""></a>
      <a href='https://play.google.com/store/apps/details?id=com.venmo&hl=en&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target="_blank">
      <img class="play-size" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
      <p><strong>@username: </strong>tSummerhays44</p>
    </ul>
</div>



<!--<app-footer class="footer-wrap"></app-footer>-->